<% if action_name.include?('new') %>
  <p>Create a new <%= type %> list</p>
<% end %>
<%= form_for(@list, html: { class: "form-horizontal" }) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, placeholder: 'List name...' %>


    <%= f.hidden_field :list_type, value: type %>

    <%= f.submit %>
<% end %>
