<p id="notice"><%= notice %></p>

<h2>
  <%= @list.name %>
  <%= link_to 'Rename', edit_list_path(@list), class: 'btn btn-primary' %>
  <%= link_to 'Delete', list_path(@list), method: :delete, class: 'btn btn-danger' %>
  <%= link_to 'View in Calendar', '', class: 'btn btn-success' %>
</h2>

<p><%= @list.list_type %> List</p>

<table id="list_table" class="table table-striped">
  <thead>
    <tr>
      <% if @list.list_type == 'Event' %>
        <th>Event Name</th>
        <th>Category</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>City/State</th>
        <th>Country</th>
        <th>Sponsors/Exhibitors</th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <% if @list.trackers.any? %>
    <tbody>
    <% @list.trackers.each do |tracker| %>
      <tr>
        <% if @list.list_type == 'Event' %>
          <td><%= link_to tracker.tracking.name, tracker.tracking %></td>
          <td><%= print_list(tracker.tracking.sector_names) %></td>
          <td><%= tracker.tracking.event_start_date.strftime('%D') %></td>
          <td><%= tracker.tracking.event_end_date.strftime('%D') %></td>
          <td><%= tracker.tracking.city_and_state %></td>
          <td><%= tracker.tracking.country %></td>
          <td><%= tracker.tracking.attendances.length %></td>
          <td><%= link_to 'Remove', tracker_url(tracker), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr><td>No events found. Please try another filter.</td></tr>
  <% end %>
</table>

<script>

  $(function(){
    $('#list_table').dataTable();
  });

</script>



