<%= form_for(User.new) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <li><%= f.text_field :first_name, placeholder: 'First Name' %></li>
  <li><%= f.text_field :last_name, placeholder: 'Last Name' %></li>
  <li><%= f.email_field :email, placeholder: 'Email' %></li>
  <li><%= f.password_field :password, placeholder: 'Password' %></li>
  <li><%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %></li>
  <li>
    <%= check_box_tag :terms %><span> I agree to terms</span>
    <%= f.submit 'Create Account', class: 'btn-primary', id: 'create_account' %>
  </li>
<% end %>

<script>

  $(function(){
    
    $('#new_user').submit(function(){
      if ($('#terms:checked').length){
        return true;
      }
      else {
        return false;
      }
    });
  });

</script>
