<div class="span12">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#account" data-toggle="tab">Account Information</a></li>
    <li><a href="#events" data-toggle="tab">Event Lists</a></li>
    <li><a href="#companies" data-toggle="tab">Company Lists</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="account">
      <div class="span5">
        <div class="span5 well">
          <h3>User Information</h3>
          <p>First Name: <%= @user.first_name %></p>
          <p>Last Name: <%= @user.last_name %></p>
          <p>
            <b>Email:</b>
            <%= @user.email %>
          </p>
          <%= link_to 'Edit my profile', edit_user_path(@user) %>
        </div>
        <div class="span5 well">
          <h3>Email Settings</h3>
            <p>
              <b>Email:</b>
              <%= @user.email %>
            </p>
            <%= link_to 'Edit my profile', edit_user_path(@user) %>
          </div>
        </div>
      <div class="span5">
        <div class="span5 well">
          <h3>Billing Information</h3>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="events">
      <p>Here are the events you are tracking:</p>
      <% if @events_tracking.any? %>
        <% @events_tracking.each do |tracker| %>
          <p><%= link_to tracker.tracking.name, "/#{tracker.tracking_type.downcase.pluralize}/#{tracker.tracking_id}" %></p>
        <% end %>
      <% else %>
        <p>You are not tracking anything yet.</p>
      <% end %>
    </div>
    <div class="tab-pane fade" id="companies">
      <p>Here are the companies you are tracking:</p>
      <% if @companies_tracking.any? %>
        <% @companies_tracking.each do |tracker| %>
          <p><%= link_to tracker.tracking.name, "/#{tracker.tracking_type.downcase.pluralize}/#{tracker.tracking_id}" %></p>
        <% end %>
      <% else %>
        <p>You are not tracking anything yet.</p>
      <% end %>
    </div>
  </div>
</div>