<h2>Event Directory</h2>
<p>
  Start Date:
  End Date:
</p>
<table class="table table-striped">
  <tr>
    <th>Event Name</th>
    <th>Category</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>City/State</th>
    <th>Country</th>
    <th>Sponsors/Exhibitors</th>
    <th>Add To...</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= print_list(event.sector_names) %></td>
      <td><%= event.event_start_date.strftime('%D') %></td>
      <td><%= event.event_end_date.strftime('%D') %></td>
      <td><%= event.city_and_state %></td>
      <td><%= event.country %></td>
      <td><%= event.attendances.length %></td>
      <td>
        <%= render partial: 'trackers/form', locals: { :tracking_item => event, :lists => @lists } %>
      </td>
    </tr>
  <% end %>
</table>
  
<p><%= link_to 'Request Coverage of an Event', '', class: 'btn btn-primary' %></p>


