<p id="notice"><%= notice %></p>

<h1>
  <%= link_to @event.name, "http://#{@event.url}" %>
</h1>

<%= render partial: 'trackers/form', locals: { :tracking_item => @event, lists: @lists } %>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Organizer:</b>
  <%= @event.organizer %>
</p>

<p>
  <b>Venue:</b>
  <%= link_to @event.venue.name, @event.venue %>
</p>

<p>
  <b>Event start date:</b>
  <%= @event.event_start_date %>
</p>

<p>
  <b>Event end date:</b>
  <%= @event.event_end_date %>
</p>

<p>
  <b>Companies Attending: </b>
  <table class="table">
    <tr>
      <th>Company Name</th>
      <th>Role</th>
    </tr>
    <tbody>
  <% @attendances.each do |attendance| %>
      <tr>
        <td><%= link_to attendance.attending.name, attendance.attending %></td>
        <td><%= attendance.role %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</p>