<p id="notice"><%= notice %></p>

<h1>
  <%= @event.name %>
  <span class="pull-right"><%= render partial: 'trackers/form', locals: { :tracking_item => @event, lists: @lists_event } %></span>
</h1>
<p>
  <b>Website: </b>
  <%= link_to "http://#{@event.url}", "http://#{@event.url}" %>
</p>
<p>
  <b>Description: </b>
  <%= @event.description %>
</p>
<p>
  <b>Categories: </b>
  <%= print_list(@event.sector_names) %>
</p>
<p>
  <b>Date: </b>
  <%= @event.event_start_date.strftime('%D') %> - <%= @event.event_end_date.strftime('%D') %>
</p>
<p>
  <b>Location: </b>
  <%= @event.venue.name %>; <%= @event.venue.full_street_address %>
</p>
<p>
  <b>Sponsors/Exhibitors: </b>
  <%= @event.attendances.length %>
</p>
<p>
  <b>Previous Events: </b>
</p>
<p>
  <table id="attendees_table" class="table table-striped">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Role</th>
        <th>Add to...</th>
      </tr>
    </thead>
    <tbody>
  <% @attendances.each do |attendance| %>
      <tr>
        <td><%= link_to attendance.attending.name, attendance.attending %></td>
        <td><%= attendance.role %></td>
        <td><%= render partial: 'trackers/form', locals: { :tracking_item => attendance.attending, :lists => @lists_company } %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
</p>

<script>

  $(function(){
    $('#attendees_table').dataTable();
  });

</script>