<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    My Lists
  </a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
  <div class="accordion-inner">
    <%= render partial: 'filter_search', locals: { filterable_type: 'List' } %>
    <% if filters.for_lists.any? %>
      <% filters.for_lists.each do |f| %>
        <p>
          <%#= check_box_tag :list, nil, false, class: 'list_filter', id: "list_#{list.id}" %>
          <span><%= f.filterable.list_type.pluralize %>: <%= f.title %> (<%= f.filterable.trackers.length %>)</span>
          <%= link_to 'X', filter_url(f), method: :delete, confirm: 'Are you sure you want to remove this filter?' %>
        </p>
      <% end %>
      <p>
        <%= link_to 'Remove all', remove_all_filters_of_type_url('List'), confirm: 'Are you sure you want to remove all List filters?', method: :delete %>
      </p>
    <% else %>
      <p>None selected. Start by typing one in above.</p>
    <% end %>
  </div>
</div>