<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    My Lists
  </a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
  <div class="accordion-inner">
    <%= form_tag '', class: 'form-inline' do %>
      <%= text_field_tag :search, nil, placeholder: 'Enter list name', class: 'span2', id: 'lists', autocomplete: 'off' %>
      <%= submit_tag '+' %>
    <% end %>
    <% lists.each do |list| %>
      <p>
        <%#= check_box_tag :list, nil, false, class: 'list_filter', id: "list_#{list.id}" %>
        <span><%= list.list_type.pluralize %>: <%= list.name %> (<%= list.trackers.length %>)</span>
        <%= link_to 'X', '' %>
      </p>
    <% end %>
    <p><%= link_to 'Remove all', '' %></p>
  </div>
</div>