<div class="dashboard">
  <div class="accordion span3" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Filters by List
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <p>
            <%= check_box_tag :list, nil, false, class: 'list_filter', id: "TBD" %>
            <span>Events</span>
          </p>
          <p>
            <%= check_box_tag :list, nil, false, class: 'list_filter', id: "TBD" %>
            <span>Companies</span>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Filters by Location
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            <%= check_box_tag :location, nil, false, class: 'location_filter', id: "TBD" %>
            <span>NYC</span>
          </p>
          <p>
            <%= check_box_tag :location, nil, false, class: 'location_filter', id: "TBD" %>
            <span>London</span>
          </p>
          <p>
            <%= check_box_tag :location, nil, false, class: 'location_filter', id: "TBD" %>
            <span>San Francisco</span>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Filters by Category
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <% @sectors.each do |sector| %>
            <p>
              <%= check_box_tag :sector, nil, false, class: 'category_filter', id: "#{sector.name}" %>
              <span><%= sector.name %></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-results span8">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
      <li><a href="#companies" data-toggle="tab">Companies</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="events">
        <span>View range: </span><%= select_tag :date_range, options_for_select(['day', 'week', 'month'], 'month'), class: 'span2' %>
        <div id="calendar"></div>
      </div>
      <div class="tab-pane fade" id="companies">
        <p>Companies show here</p>
      </div>
    </div>
  </div>
</div>

<script>

  var events = [
  <% @events.each do |event| %>
    <% if event.event_start_date && event.event_end_date %>
      {
        id: <%= event.id %>,
        title: '<%= event.name %>',
        start: new Date(<%= event.start_year %>, <%= event.start_month %>, <%= event.start_day %>),
        end: new Date(<%= event.end_year %>, <%= event.end_month %>, <%= event.end_day %>),
        categories: '<%= event.sector_names %>'
      }
    <% if event != @events.last %>,<% end %>
    <% end %>
  <% end %>
  ];


  $(function(){
    $('#calendar').fullCalendar({
        // your options here
        defaultView: 'month',
        events: events
    });
    
    $('#date_range').change(function(){
      if ($(this).val() == 'day'){  $('#calendar').fullCalendar('changeView', 'basicDay'); }
      else if ($(this).val() == 'week'){ $('#calendar').fullCalendar('changeView', 'basicWeek'); }
      else { $('#calendar').fullCalendar('changeView', 'month'); }
    });
    
    $('.category_filter').click(function(){
      var category = $(this).attr('id');
      var arr = [];
      for(var i=0; i < events.length; i++){
        if(events[i]['categories'].indexOf(category) == -1){
          arr.push(events[i]['id']);
        }
      }
      for(var i=0; i < arr.length; i++){
        $('#calendar').fullCalendar( 'removeEvents', arr[i]);
      }
    });
  });


</script>