<p id="notice"><%= notice %></p>

<h2>
  <%= @venue.name %>
</h2>

<p>
  <%= @venue.address %>
  <%= @venue.city %>
  <%= @venue.state %>
  <%= @venue.country %>
</p>
<div id="map" style="height: 200px; width: 200px;"></div>
<%= gmaps4rails(@json) %>

<h3>Events</h3>
<ul>
  <% @venue.events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>