<h2>Company Directory</h2>
<table class="table table-striped">
  <tr>
    <th>Company Name</th>
    <th>Category</th>
    <th>Add To...</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company %></td>
    <td><%= company.sector_names %></td>
    <td>
      <%= render partial: 'trackers/form', locals: { :tracking_item => company, :lists => @lists } %>
    </td>
  </tr>
<% end %>
</table>
<p><%= link_to 'Request Coverage of a Company', '', class: 'btn btn-primary' %></p>

<%= paginate @companies %>
