<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @company.url, "" %>
</p>

<%= render partial: 'trackers/form', locals: { :tracking_item => @company, lists: @lists } %>

<h3>Conferences</h3>
<ul>
  <% @company.events.each do |event| %>
    <li>
      <%= link_to event.name, event %> | <%= event.event_start_date.present? && event.event_start_date <= Time.now ? 'Past' : 'Future' %>
    </li>
  <% end %>
</ul>
