<% if current_user %>
  <% if false #current_user.tracking?(tracking_item) %>
    <p>Current List: <%= current_user.tracking_list(tracking_item).name %>
    <%= form_tag(trackers_url, method: :delete) do %>
      <%= hidden_field_tag :tracking_id, tracking_item.id %>
      <%= hidden_field_tag :tracking_type, tracking_item.class.name %>
      <%= submit_tag 'Remove from my list', class: 'btn-warning' %>
    <% end %>
    </p>
  <% else %>
    <%= form_tag(trackers_url, class: 'form-horizontal', method: :post) do %>        
        <ul class="nav">
          <li class="dropdown">
            <a id="sign_in" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Add to my lists
              <span class="caret"></span>
            </a>
      			<ul class="dropdown-menu trackers_list">
              <% lists.each do |list| %>
                <li><%= check_box_tag "tracker[list_id][]", list.id, current_user.tracking?(tracking_item) %><%= link_to list.name, list_url(list) %></li>
              <% end %>
              <li><%= text_field_tag :new_list, nil, class: 'span10', placeholder: 'New name...' %></li>
              <li><%= submit_tag 'Add', class: 'btn-success' %></li>
            </ul>
      		</li>
        </ul>

      <%#= select_tag :list_id, options_from_collection_for_select(lists, :id, :name), prompt: 'Add to my lists' %>
      <%= hidden_field_tag :tracking_id, tracking_item.id %>
      <%= hidden_field_tag :tracking_type, tracking_item.class.name %>
    <% end %>
  <% end %>
<% end %>