<div class="header span12">
  <div class="logo">
    <h1><%= link_to 'EventBase', root_url %></h1>
  </div>
  <div class="header-nav">
    <% if current_user %>
      <ul class="nav-signed-in">
        <li>
          <div class="btn-group">
            <a class="btn" href="/dashboard">Dashboard</a>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <%= link_to 'Settings', user_url(current_user), class: 'btn' %>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <%= link_to 'Sign out', sessions_url, class: 'btn', method: :delete %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="nav-signed-out">
        <li>
          <div class="btn-group">
            <a class="btn" href="#">Pricing</a>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Sign In
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <%= form_tag(sessions_url) do %>
              <li><%= text_field_tag :email, nil, placeholder: 'Email' %></li>
              <li><%= password_field_tag :password, nil, placeholder: 'Password' %></li>
              <li><%= submit_tag 'Sign In', class: 'btn-primary' %></li>
            <% end %>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Sign Up
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= render 'users/form' %>
            </ul>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<script>

  $(function(){
    $('.dropdown-menu').click(function(e) {
        e.stopPropagation();
    });
  });

</script>