<div class="header span12">
  <div class="logo">
    <h1><%= link_to 'EventBase', root_url %></h1>
  </div>
  <div class="header-nav">
    <% if current_user %>
      <ul class="nav-signed-in">
        <% if !action_name.include?('home') %>
          <li>
            <div class="btn-group">
              <%= render partial: 'pages/search', locals: { width: 'span3' } %>
            </div>
          </li>
          <li>
            <div class="btn-group span1">
            </div>
          </li>
        <% end %>
        <% if @lists.any? %>
          <li>
            <div class="btn-group">
              <a id="sign_in" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Calendar
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% if @lists.by_type('Event').any? %>
                  <li><%= link_to 'Events', '/dashboard?type=Event' %></li>
                <% else %>
                  <li>No 'Event' lists yet.</li>
                <% end %>
                <% if @lists.by_type('Company').any? %>
                  <li><%= link_to 'Companies', '/dashboard?type=Company' %></li>
                <% else %>
                  <li>No 'Company' lists yet.</li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
        <li>
          <div class="btn-group">
            <%= link_to 'Settings', user_url(current_user), class: 'btn' %>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <%= link_to 'Sign out', sessions_url, class: 'btn', method: :delete %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="nav-signed-out">
        <li>
          <div class="btn-group">
            <a class="btn" href="#">Pricing</a>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <a id="sign_in" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Sign In
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <%= form_tag(sessions_url) do %>
              <li><%= text_field_tag :email, nil, placeholder: 'Email' %></li>
              <li><%= password_field_tag :password, nil, placeholder: 'Password' %></li>
              <li><%= submit_tag 'Sign In', class: 'btn-primary' %></li>
            <% end %>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <a id="sign_up" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Sign Up
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%= render 'users/form' %>
            </ul>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
<script>

  $(function(){
    
    $('#search_form').submit(function(){
      return false;
    });
    
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
            var that = this,
                currentCategory = "";
            $.each( items, function( index, item ) {
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
                    currentCategory = item.category;
                }
                that._renderItemData( ul, item );
            });
        }
    });
    
    $.get('/autocomplete', null, function(data){
      
      var autocomplete = new Array();
  
      for (var key in data){
        data[key].forEach(function(d) {
          if (key == 'companies'){
            var cat = 'Company';
          }
          else if (key == 'events'){
            var cat = 'Event';
          }
          else if (key == 'sectors'){
            var cat = 'Sector';
          }
          else {
            var cat = 'List';
          }
          autocomplete.push({ category: cat, label: d.name, url: key + '/' + d.id });
        });
      }

      $("#search").catcomplete({ 
        source: autocomplete,
        select: function(event, ui){
          window.location.replace('<%= j(root_url) %>' + ui.item['url']);
        }
      });
    }, 'json');
        
    $('#sign_in').on('click', function(){
      setTimeout('$("#email").focus()', 300);
    });
    
    $('#sign_up').on('click', function(){
      setTimeout('$("#user_first_name").focus()', 300);
    });
    
  });

</script>